html{
    background-color: #888339;
}
header{
    background-color: rgb(60, 230, 17);
    height: 30%;
    width: 20%;
}
footer{

    background-color: rgb(60, 2, 17);
    height: 30%;
    width: 20%;

    background-color: rgb(60, 22, 17);
    height: 30%;
    width: 20%;
}
section{
    background-color: yellow;

}